@page 
@model TeamUp.Areas.Panel.Pages.IndexModel
@{
    Layout = "/Areas/Panel/Pages/_Layout.cshtml";
    ViewBag.Data = Model.TeamId;
    ViewBag.Name = Model.TeamUser.Team.Name;
    ViewBag.Localization = Model.TeamUser.Team.Localization;

    ViewData["Title"] = "Aktualności | " + Model.TeamUser.Team.Name;
    ViewData["Description"] = "Panel zespołu " + Model.TeamUser.Team.Name + " - sekcja aktualności";
}



<h1>Index</h1>

                    
