@page
@model ForgotPasswordConfirmation
@{
    ViewData["Title"] = "Potwierdzenie zmiany hasła | Team-Up";
    ViewData["Description"] = "Team-Up: narzędzie do zakładania/wyszukiwania zespołów umożliwiających realizację start-upów";
    var url = Request.HttpContext.Request.Scheme + "://" + Request.Host;
    var imageUrl = Url.Content(url + "/img/team.png");
    ViewData["Image"] = imageUrl;
}

<div style="width: 100%; margin: 0 auto; text-align: center;">
    <h2>Potwierdzenie zmiany hasła</h2>
    <p>
        Sprawdź skrzynkę pocztową w celu zresetowania hasła.
    </p>
</div>

