@page
@model LogoutModel
@{
    ViewData["Title"] = "Wylogowano | Team-Up";
    ViewData["Description"] = "Team-Up: narzędzie do zakładania/wyszukiwania zespołów umożliwiających realizację start-upów";
    var url = Request.HttpContext.Request.Scheme + "://" + Request.Host;
    var imageUrl = Url.Content(url + "/img/team.png");
    ViewData["Image"] = imageUrl;
}


<header style="width: 100%; margin: 0 auto; text-align: center;">
    <h1>Wylogowano</h1>
    <p>Zostałeś wylogowany.</p>
</header>